server {
    client_max_body_size 20M;
    server_name localhost;
    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;

    # tilemill
    location / {
        proxy_set_header Host $http_host;
        proxy_pass http://127.0.0.1:20009;
        auth_basic "Restricted";
        auth_basic_user_file  /usr/local/app/tilemill-passwords;
    }

    # Static viewer 
    location /viewer/ {
        autoindex on;    
        alias /usr/local/app/html/;  
    }

    # Tilestache
    location /tiles {
        include uwsgi_params;
        uwsgi_param SCRIPT_NAME /tiles;
        uwsgi_pass unix:///var/run/uwsgi/app/tilestache/socket;
        uwsgi_modifier1 30;
    }
    # Testing Tilestache
    location /test {
        # run tilestache-server.py /usr/local/app/tilestache/tilestache.cfg and watch it
        proxy_set_header Host $http_host;
        proxy_pass http://127.0.0.1:8080;
        rewrite  ^/test/(.*)  /$1 break;
    }
}